name: build-and-release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Build and create a release
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
          fetch-tags: true

      - name: Set TAG variables
        id: tags_variables
        run: |
          set -x

          source build_versions.sh

          echo "VAULT_VERSION=$VAULT_VERSION" >> "$GITHUB_ENV"
          echo "VW_VERSION=$VW_VERSION" >> "$GITHUB_ENV"

          TAG_CURRENT=$(git describe --abbrev=0 --tags ${{ github.ref }})
          TAG_PREVIOUS=$(git describe --abbrev=0 --tags $TAG_CURRENT^)

          echo "TAG_CURRENT=$TAG_CURRENT" >> "$GITHUB_ENV"
          echo "TAG_PREVIOUS=$TAG_PREVIOUS" >> "$GITHUB_ENV"

          echo "CHANGELOG_MESSAGE<<EOF" >> $GITHUB_ENV
          sed -nzE "s/^.*## $TAG_CURRENT([^#]*).*$/\1/p" CHANGELOG.md  | sed -e '/./,$!d' -e :a -e '/^\n*$/{$d;N;ba' -e '}' >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Build
        run: |
          ./build_webvault.sh

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.TAG_CURRENT }}
          release_name: ${{ env.TAG_CURRENT }}
          body: |
            ${{ env.CHANGELOG_MESSAGE }}

            Built using :
             - Bitwarden WebVault version : [${{ env.VAULT_VERSION }}](https://github.com/bitwarden/clients/tree/${{ env.VAULT_VERSION }}/apps/web)
             - VaultWarden override: [${{ env.VW_VERSION }}](https://github.com/dani-garcia/bw_web_builds/tree/${{ env.VW_VERSION }})

            Full changelog: [${{ env.TAG_PREVIOUS }}...${{ env.TAG_CURRENT }}](https://github.com/timshel/oidc_web_builds/compare/${{ env.TAG_PREVIOUS }}...${{ env.TAG_CURRENT }})

            :robot: Built by [release.yml](.github/workflows/release.yml) :robot:
          draft: false
          prerelease: false

      - name: Upload Release Asset
        id: upload-release-button
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./oidc_button_web_vault.tar.gz
          asset_name: oidc_button_web_vault.tar.gz
          asset_content_type: application/gzip

      - name: Upload Release Asset
        id: upload-release-override
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./oidc_override_web_vault.tar.gz
          asset_name: oidc_override_web_vault.tar.gz
          asset_content_type: application/gzip
